.main-skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.main-skills-container h1 {
    font-size: 3em;
    letter-spacing: 2px;
    margin: 20px 0px 0px 0px;
    color: var(--primary-text);
    text-align: center;
}


.skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
}

.skills-card {
    background: var(--bg-color);
    border: 2px solid var(--border-color);
    color: var(--primary-text);
    padding: 1.5rem;
    box-shadow: 8px 8px 0 var(--card-shadow);
    position: relative;

}

.skills-card h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}




/* mobile view */
@media (max-width: 640px) {
    .skills-badges {
        justify-content: center;
        gap: 1rem;
    }

    .badge {
        flex: 1 1 45%;
        justify-content: center;
        padding: 0.7rem 0.9rem;
        font-size: 0.85rem;
    }
}

/* larger screens */
@media (min-width: 1024px) {
    .skills-container {
        margin: 3rem auto;
        max-width: 900px;
    }

    .skills-card h2 {
        font-size: 1.6rem;
    }
}