.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 100px;
    margin-top: 10vw;

}

.cardContainer h1 {
    font-size: 3em;
    letter-spacing: 2px;
    margin: 20px 0px 20px 0px;
    max-width: 90vw;
}

.cardLayout {
    /* margin: 0px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    /* spacing between cards */
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.cardLayout Card {
    background: #fafafa;
    border: 2px solid #171717;
    padding: 2rem;
    box-shadow: 8px 8px 0 #d4d4d4;
    
}

@media screen and (max-width: 640px) {
    .cardLayout {
        display: grid;
        grid-template-columns: 1fr;
        /* default: single column for mobile */
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    .cardContainer h1 {
        font-size: 3rem;
        letter-spacing: 3px;
        margin: 20px 0px 20px 0px;
        max-width: 90vw;

    }
}

@media (max-width: 912px) and (min-width: 640px) {
    .cardLayout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* default: single column for mobile */
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    .cardContainer h1 {
        font-size: 2em;

    }
}
@media (min-width: 1020px) {
    .cardLayout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* default: single column for mobile */
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }
    .cardLayout Card{
        min-height: 350px;
    }

    .cardContainer h1 {
        font-size: 2em;

    }
}

@media (min-width: 1364px) {
    .cardLayout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* default: single column for mobile */
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    .cardContainer h1 {
        font-size: 2em;

    }
}

.scrollAnimate {
    animation: scrollAnimate both;
    animation-timeline: view();
    animation-range: entry 30% cover 10vh;
}

.fadeAnimate {
    animation: fadeAnimate both;
    animation-timeline: view();
    animation-range: entry 15% cover 60%;

    /* animation: fadeInScroll 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 15% cover 60%; */

}

@keyframes fadeAnimate {
    from {
        filter: blur(5px) saturate(0) contrast(4) brightness(.1);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }

    /* from {
        opacity: 0;
        transform: translateY(20px);
        
    }

    to {
        opacity: 1;
        transform: translateY(0);
    } */
}

@keyframes scrollAnimate {

    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}