    .card {
      border: 2px solid var(--border-color);
      background-color: var(--bg-color);
      padding: 2rem;
      box-shadow: 8px 8px 0 var(--card-shadow);
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--bg-color);
      transition: all 0.3s ease;
      min-height: 350px;
    }

    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card h3 {
      font-size: 1.5rem;
      color: var(--primary-text);
      font-weight: 700;

      margin-bottom: 1rem;

    }

    .card p {
      color: var(--secondary-text);
      margin-bottom: 1.5rem;
      line-height: 1.5;
      flex-grow: 1;
      text-align: start;
    }

    .card a {
      display: inline-flex;
      align-items: center;
      border: 2px solid var(--border-color);
      background-color: var(--card-button);
      padding: 0.75rem 1.5rem;
      font-weight: 700;
      text-decoration: none;
      color: var(--primary-text);
      box-shadow: 4px 4px 0 var(--card-shadow);
      transition: all 0.2s ease;
      position: relative;
      bottom: 0px;
      margin-top: auto;
      align-self: flex-start;
    }

    .card a svg {
      margin-right: 5px;
    }

    .card a:hover {
      background-color: var(--card-button);
      filter: brightness(150%);
      transform: translate(2px, 2px);
      box-shadow: 2px 2px 0 #171717;
    }

    .card a:active {
      transform: translate(4px, 4px);
      box-shadow: 0 0 0 #171717;
    }

    .project-card {
      contain: layout style paint;
      
      will-change: transform;
      
    }

    .skills-badges {
      contain: layout;
      
    }